nav.navbar.is-white
  .container
    .navbar-brand
      a.navbar-item.brand-text(href="#") Bulma Admin
      include troubleshoot.pug

    #navMenu.navbar-menu
      .navbar-start
        a.navbar-item(href="#") Home
        a.navbar-item(href="#") Orders
        a.navbar-item(href="#") Payments
        a.navbar-item(href="#") Exceptions
        a.navbar-item(href="#") Reports

    include navbar_end.pug