.column.is-9
    include breadcrumb.pug
    include hero/index.pug
    include tiles/index.html
    .columns
        .column.is-6
            include components/events.pug
        .column.is-6
            include components/inventory_search.pug
            include components/user_search.pug