nav.navbar.is-white
  .container
    .navbar-brand
      a.navbar-item.brand-text(href="#") Bulma Admin
      | <div class="navbar-burger burger" data-target="navMenu">
      |   <span></span>
      |   <span></span>
      |   <span></span>
      | </div>

    #navMenu.navbar-menu
      .navbar-start
        a.navbar-item(href="#") Home
        a.navbar-item(href="#") Orders
        a.navbar-item(href="#") Payments
        a.navbar-item(href="#") Exceptions
        a.navbar-item(href="#") Reports
