section.section
  .container
    .columns
      .column.is-half
        .field
          label.label(for="") Team
          .control
            input.input(type="text" placeholder="Team")

    .columns
      .column.is-one-fifth
        .field
          label.label(for="") Pld
          .control
            input.input(type="text" placeholder="Team")
      .column.is-one-fifth
        .field
          label.label(for="") W
          .control
            input.input(type="text" placeholder="Team")
      .column.is-one-fifth
        .field
          label.label(for="") D
          .control
            input.input(type="text" placeholder="Team")
      .column.is-one-fifth
        .field
          label.label(for="") L
          .control
            input.input(type="text" placeholder="Team")
      .column.is-one-fifth
        .field
          label.label(for="") GF
          .control
            input.input(type="text" placeholder="Team")
    .columns
      .column.is-one-fifth
        .field
          label.label(for="") GA
          .control
            input.input(type="text" placeholder="Team")
      .column.is-one-fifth
        .field
          label.label(for="") GD
          .control
            input.input(type="text" placeholder="Team")
      .column.is-one-fifth
        .field
          label.label(for="") Pts
          .control
            input.input(type="text" placeholder="Team")
    .columns
      .column.is-full
        .field
          label.label(for="") Qualification or relegation
          .control
            textarea.textarea(placeholder="test textarea" rows="10")

    .columns
      .column.is-full
        .buttons
          button.button.is-rounded.is-info Save
          button.button.is-rounded.is-light Cancel