extends layout/layout-bulma.pug
include pug_inc/mixins.pug

block title
  title elements

block append content
  .column.is-9
    section.section
      .container
        +breadcrumb(['components','input'])

        h1.subtitle.is-1 elements
        h3.subtitle.is-3 bulma elements
        include static/bulma_elements.html
