extends layout/layout-bulma.pug
include pug_inc/mixins.pug

block title
  title form

block append content
  .column.is-9
    section.section
      .container
        +breadcrumb(['components','input'])

        h3.subtitle.is-3 form
        include static/bulma_form.html
