extends layout/layout-bulma.pug
include pug_inc/mixins.pug

block title
  title inputs

block append content
  +breadcrumb(['components','input'])

  h3.subtitle.is-3 bulma inputs

  include static/bulma_inputs.html
