.
  <script src="https://browser.sentry-cdn.com/5.7.1/bundle.min.js" integrity="sha384-KMv6bBTABABhv0NI+rVWly6PIRvdippFEgjpKyxUcpEmDWZTkDOiueL5xW+cztZZ" crossorigin="anonymous">
  </script>

script
  | Sentry.init({ dsn: 'https://1ff82d9e81c449509c27882480b99b4a@sentry.io/1794596' });
